* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

.padre {
  height: 100vh;
  display: grid;
  /* grid-template-columns: 300px 300px 300px; */
  /* fraccionario - exacto 1fr + 1fr + 1fr = 3fr */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* repeat(cantidad, unidadMedida) */
  /* grid-template-columns: repeat(3, 1fr); */
  /* minmax(valorMinimo, valorMáximo) */
  grid-template-columns: repeat(3, minmax(200px, 1fr));

  /* filas */
  grid-template-rows: repeat(4, minmax(100px, 1fr));
  gap: 20px;

  /* grid-implícito */
  /* Si no están dentro de mi grilla principal, toman estos valores */
  grid-auto-columns: 300px;
  grid-auto-rows: 200px;
  grid-auto-flow: row;
}

.caja:nth-of-type(1) {
  background-color: aquamarine;
  grid-column: 1/3;
  grid-row: 1/3;
}

.caja:nth-of-type(2) {
  background-color: peru;
  grid-row: 1/4;
}

.caja:nth-of-type(3) {
  background-color: bisque;
  grid-row: 3/5;
}

.caja:nth-of-type(5) {
  background-color: steelblue;
  grid-column: 2/4;
}
